
.formControl input,
.formControl textarea
{
    width: 300px;
    height: 30px;
    margin: 5px;
    outline: none;
    resize: none;
    border: 1px solid coral;
    padding: 10px 10px 0px 10px;
    border-radius: 20px;
    background: #F5F7FB;
    font-size: large;
    overflow: hidden;
}

.formControl.error area,
.formControl.error textarea {
    border: solid 2px red;
}


.formControl.error area,
.formControl.error input {
    border: solid 2px red;
}

.formControl.error span {
    padding-left: 10px;
    color: red;
}

.formSummaryError {
    border: 1px solid red;
    padding: 5px;
    color: red;

}