
.formControl.error area,
.formControl.error textarea {
    border: solid 2px red;
}


.formControl.error area,
.formControl.error input {
    border: solid 2px red;
}

.formControl.error span {
    padding-left: 10px;
    color: red;
}

.formSummaryError {
    border: 1px solid red;
    padding: 5px;
    color: red;

}