.profile {
    display: flex;
    flex-direction: column;

}

.profile img {
    width: 1000px;
    height: 300px;
}

.descriptionBlock {
    width: 150px;
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

.descriptionBlock img {
    width: 90px;
    height: 90px;
    border-radius: 50px;
}

.fullName {
    font-weight: bold;
    font-size: large;
}

.aboutMe {
   text-align: center;
}
