.item img {
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

.item {
    padding: 10px;
}

.postTools {
    cursor: pointer;
    color: maroon;
    margin: 10px 30px;
    font-size: small;
}

.postTools span {
    margin-left: 20px;
}

