.content {
    /*display: grid;
    grid-template-columns: 2fr 10fr;*/
    display: flex;
    flex-direction: column;
}

.dialogs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dialogsItems {
    color: white;
    margin: 0;
    padding: 0;
}

.messages1 {
    margin-right: 10%;
    text-align: left;
    padding: 10px;
}

.messages2 {
    margin-right: 10%;
    text-align: right;
    padding: 10px;
}

.messages .message {
    color: white;
}

.dialog a {
    padding-left: 10px;
    padding-bottom: 5px;
    display: block;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.dialogs a:focus {
    background-color: coral;
}

.messageBlock {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
}

.messageBlock img {
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

.messageString {

    margin: 20px 0 20px;
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;
}

.triangle {
    margin-bottom: 25px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid;
    border-width: 10px 0 0 17px;
    border-color: transparent transparent transparent white;

}

.content form {
    display: flex;
    justify-content: center;
}

.content button {
    height: 45px;
    margin: 5px;
    border-radius: 20px;
    background: coral;
    font-size: 26px;
    color: maroon;
    border: 1px solid white;
    cursor: pointer;
}
