.content {
    /*display: grid;
    grid-template-columns: 2fr 10fr;*/
    display: flex;
    flex-direction: column;
}

.dialogs {
    display: flex;
    flex-direction: row;
}

.dialogsItems {
    color: white;
    margin: 0;
    padding: 0;
}

.messages {
    padding: 10px;
}

.messages .message {
    color: white;
}

.dialog a {
    padding-left: 10px;
    padding-bottom: 5px;
    display: block;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.dialogs a:focus{
    background-color: coral;
}

.content form {
    display: flex;
    justify-content: center;
}

.content textarea {
    width: 300px;
    height: 30px;
    margin: 5px;
    outline: none;
    resize: none;
    border: 1px solid coral;

    padding: 10px 10px 0px 10px;
    border-radius: 20px;
    background: #F5F7FB;
    font-size: large;
    overflow: hidden;/*убрать прокрутку*/
}

.content button {
    height: 45px;
    margin: 5px;
    border-radius: 20px;
    background: coral;
    font-size: 26px;
    color: #FFF;
    border: 1px solid white;
    cursor: pointer;
}
